body {
	width: 95%;
	margin: auto;
	background-color: #373232;
}

header a {
	text-decoration: none;
	color: white;
}

header {
	height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	font-size: 1.5em;
}

/*.page_active {
	border-bottom: 2px solid white; /* provisoire : à changer sur la durée */
}


